* {
    margin: 0;
}


body {
    background-color: blanchedalmond;
}

header {
    background-color: cornsilk;
}

h1, h2 {
text-align: center;
    color: darkmagenta;
}

a {
    align-content: center;
}

strong {
    color: brown;
}

div{
    padding: 20px;
    background-color: azure;
    width: 400px;
}

img {
    width: 400px;
}
