/* 
  Name: Thomas Gibson
  Date: 09.25.2024
  CSC 372-01

  This is the style sheet for index.html and plan.html.
*/

* {
        margin: 0;
        padding: 0;
}

body {
        background-color: antiquewhite;
        margin-left: 10%;
        margin-right: 10%;
}

nav {
        padding: 20px;
        align-content: center;
        background-color: darkslategrey;
}

nav a {
        margin-left: 20px;

        text-decoration: none;
        font-size: 20px;
        color: white;
        font-weight: bold;
}

h1 {
        text-align: center;
        margin: 20px;
}

.menu_list {
        background-color: rgba(255, 255, 255, 0.5);
        margin-bottom: 20px;
}

.description {
        padding: 40px;
        background-color: rgba(255, 255, 255, 0.5);
}

.unselected img {
        width: 150px;
        height: 150px;
}

.unselected p {
        display: none;
}

.selected img {
        width: 300px;
        height: 300px;
}

.menu_list {
        height: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
}

button {
        padding: 10px;
        width: 200px;
}

#meal_planner {
        display: flex;
}

#selections {
        background-color: aliceblue;
        width: 100%;
}